body {
	background: #fff;
	font: 87.45%/1.4 "Helvetica Neue", Arial, sans-serif;
}

/* Collapsible item container */
.text {
	width: 600px;
	margin: 0 auto;
	padding: 0 0 25px;
}

.scroller {
	position: fixed;
	overflow: hidden;
	width: 150px;
	height: 100%;
	top: 0;
	right: 0;
}

.scroller__canvas {
	position: relative;
	width: 100%;
	height: auto;
}

.scroller__canvas canvas{
	position: relative;
	width: 100%;
	height: auto;
}

.scroller__handle {
	position: absolute;
	width: 100%;
	top: 0;
	background: rgba(255,0,0,0.3);
	z-index: 5;
}